/* VARIABLES */
:root {
    --primary: #000;
}

/* RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
}

/* GLOBAL CLASSES*/
.text-center {
    text-align: center!important;
}

.row, .column {
    display: flex;
}

.column {
    flex-direction: column;
}

.heading {
    margin: 8px 0px;
}

.radius {
    border-radius: 5px;
}

/* CUSTOM STYLES*/
header {
    width: 100%;
    display: block;
    background: linear-gradient(to right, #116cce 0%, #081c47 85%);
    color: #fff;
}

header h1 {
    padding: 16px;
    font-size: 48px;
    font-weight: 650;
}

.wrapper {
    margin: 16px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

aside {
    width: 350px;
    margin-right: 20px; 
    padding: 5px 0px;
}


input, button, .search-list > *:not(h3){
    width: 350px;
    margin: 8px auto;
    border-radius: 5px;
    padding: 8px 15px;
} 

aside input {
    border: 1px solid var(--primary);
}

aside .search-button {
    border: 0px ;
    background-color: #007bff;
    color: #fff;
}

aside .search-list p, .search-list button  {
    border: 0px ;
    text-align: center;
    font-size: 13px;
    background-color: lightslategrey;
    color: #fff;
}

main {
    width: 100%;
}

main .forecast-card *, #today * {
    margin-bottom: 8px;
}

#today {
    margin-bottom: 20px;
    border: 1px solid;
    padding: 5px;
}

#forecast-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

main .forecast-card {
    padding: 5px;
    background-color: #203668;
    color: #fff;
}



